<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template1}"
	>
<head>
<meta charset="utf-8">
<title>Notre Banque</title>
</head>
<body>
	<div layout:fragement="content">
	<div>Testtttttttttt</div>
<!-- 		<div class="col-md-6"> -->
<!-- 			<div class="panel panel-primary"> -->
<!-- 				<div class="panel-heading">Consultation d'un compte</div> -->
<!-- 				<div class="panel-body"></div> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<div class="col-md-6"></div>
	</div>
</body>
</html>